body {
  background: #EAE2B6;
}

h1 {
font-size: 48px;
color: #7F461B;
}
h2 {
  font-size: 36px;
  color: #7F461B;
}
h3 {
  font-size: 18px;
  color: #7F461B;
}

.nav ul {
  display: inline-block;
}
.nav ul li {
  font-weight: 400;
}
